{% load static %}
<!-- Footer-->
<div class="footer">
    <p style="font-size: 3rem; text-align: center; color: white; margin-bottom: 0;">Get In Touch</p>
    <a target="_blank" title="Contact me" href="mailto:ayush13837@gmail.com" ><img src="{% static 'images/email.png' %}"  alt="email" class="watermark"></a>
    <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/ayush838/" ><img src="{% static 'images/in.png' %}" alt="linkedin" class="watermark"></a>
    <a target="_blank" title="GitHub" href="https://github.com/aayush138"><img src="{% static 'images/git.png' %}" alt="git" class="watermark"></a>
    <a target="_blank" title="HackerRank" href="https://www.hackerrank.com/AYUSH837"><img src="{% static 'images/hack.png' %}" alt="hack" class="watermark"></a>

    <ul class="link" style="padding-left:0">

        {% for key,value in nav.items %}
            <li><a href={{value}}>{{key}}</a></li>
        {% endfor %}

    </ul>    
    <h4 style="color:white;">© Copyright 2022</h4>
    <h4 style="color:white">Built with ♡ by Ayush Kumar</h4>
</div>
