{% extends 'main.html'%}
{% load static %}

{% block title %}Project{% endblock %}

{% block content%}

        <!--Web Dev Part-->
        <h3>Web Development</h3>
        <div id="web" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P4.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># Html</li>
                            <li class="tag"># Css</li>
                            <li class="tag"># JavaScript</li>
                        </ul>
                        <h4>DietZone</h4>
                        <p>Fitness cum healthy diet website. Developed as a project for a friend.</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="https://aayush138.github.io/DietZoneNishi/index.html" style="text-decoration: none; color: white;"> View Live</a></button> 
                        <button class="sbutton"><a href="https://github.com/aayush138/DietZoneNishi" style="text-decoration: none; color: #036366;">Source Code</a></button>
                    </div>
                    <div class="ribbon-b"></div>     
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P5.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># WordPress</li>
                            <li class="tag"># Elementor</li>
                        </ul>
                        <h4>TheWingedFootGroup</h4>
                        <p>US Based company's wordpress website having 20 years experience.</p>
                    </div> 
                    <div class="btn">
                        <button class="fbutton" ><a href="https://www.thewingedfootgroup.com/site" style="text-decoration: none; color: white;">View Live</a></button> 
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P6.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># Flask</li>
                            <li class="tag"># Scikit-Learn</li>
                            <li class="tag"># SQLite</li>
                        </ul>
                        <h4 >Advorrst</h4>
                        <p>Movie Recommendation based on similarity using Machine Learning library Scikit-Learn for the college project.</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="http://139.84.167.225/" style="text-decoration: none; color: white;">View Live</a></button> 
                        <button class="sbutton"><a href="https://github.com/aayush138/Avorrst" style="text-decoration: none; color: #036366;">Source Code</a></button>
                    </div> 
                    <div class="ribbon-b"></div>     
                </div>
                    
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P7.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># WordPress</li>
                            <li class="tag"># Ecommerce</li>
                        </ul>
                        <h4>Jewellerance</h4>
                        <p>Developed a fully working Ecommerce Jewellery Website with the help of wordpress.</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="https://dev-test-site-dilpreet.pantheonsite.io/" style="text-decoration: none; color: white;">View Live</a></button> 
                    </div>
                    <div class="ribbon-b"></div>     
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P8.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># Html</li>
                            <li class="tag"># Css</li>
                            <li class="tag"># JavaScript</li>
                        </ul>
                        <h4>EBNT</h4>
                        <p>A beautiful company website with Html, Css, JavaScript as a side project.</p>
                    </div> 
                    <div class="btn">
                        <button class="fbutton" ><a href="https://aayush138.github.io/eBNT_test_website/" style="text-decoration: none; color: white;">View Live</a></button> 
                        <button class="sbutton"><a href="https://github.com/aayush138/eBNT_test_website" style="text-decoration: none; color: #036366;">Source Code</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <!-- <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/analytics.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag">buisness</li>
                            <li class="tag">travel</li>
                            <li class="tag">technology</li>
                        </ul>
                        <h4 >Data Analyst</h4>
                        <p>I'm trying to acquire Bachelor degree in Data Science. At this stage I'm capable of doing descriptive analysis on data.</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div> 
                    <div class="ribbon-b"></div>     
                </div> -->    

            </div> 
            
        </div>

        <hr>

        <!--Programming Part-->
        <h3 >Programming</h3>
        <div id="prog" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P1.png' %}" alt="p1" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># python</li>
                            <li class="tag"># pyttsx3</li>
                            <li class="tag"># difflib</li>
                        </ul>
                        <h4>Speaking Dictonary</h4>
                        <p>Ability to search meaning of words.</p>
                        <p>Speaks meaning of words loudly.</p>
                        <p>Supports feature of recommended words.</p>
                    </div>
                    <div class="btn">
                        <button class="sbutton"><a href="https://github.com/aayush138/SpeakingDictonary" style="text-decoration: none; color: #036366;">Check It Out</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P2.png' %}" alt="p2" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># python</li>
                            <li class="tag"># folium</li>
                            <li class="tag"># pandas</li>
                        </ul>
                        <h4>Web Map</h4>
                        <p>Loads Live map of world from Internet.</p>
                        <p>Filled each continent with color according to its population.</p>
                        <p>Color Marked every Volcanoes of world in map according to their heights from sea level.</p>
                        <p>Color Code:- Low: Green, Medium: Yellow/Orange, High:Red</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="https://aayush138.github.io/PythonMap" style="text-decoration: none; color: white;">View Live</a></button> 
                        <button class="sbutton"><a href="https://github.com/aayush138/PythonMap" style="text-decoration: none; color: #036366;">Source Code</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/P3.png' %}" alt="p3" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># python</li>
                            <li class="tag"># pandas</li>
                            <li class="tag"># yaml</li>
                        </ul>
                        <h4>Yaml_to_Excel</h4>
                        <p>Yaml: Human Readable Data</p> 
                        <p>IPL:Indian Premiere League</p>
                        <p>Extracts useful data of IPL into Excel file with showing step by step processing of data.</p>
                    </div>
                    <div class="btn">
                        <button class="sbutton"><a href="https://github.com/aayush138/YamltoExcel" style="text-decoration: none; color: #036366;">Check It Out</a></button>
                    </div> 
                    <div class="ribbon-b"></div>                        
                </div>

            </div>
        </div>  

        <hr>

        <!--Data Analysis Part-->
        <h3 >Data Analysis</h3>
        <div id="data" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/analytics.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># Statistics</li>
                            <li class="tag"># Normal Distribution</li>
                            <li class="tag"># Python</li>
                            <li class="tag"># LatEx</li>
                        </ul>
                        <h4>Normal Distribution Fit</h4>
                        <p>Fitting a normal distribution with scipy- Statistics library and matpltlib for presentation. Latex is used to format maths equations.</p>
                    </div>
                    <div class="btn">
                        <button class="sbutton"><a href="{% url 'daproject1' %}" style="text-decoration: none; color: #036366;">Check It Out</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <!-- <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/book.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># Statistics</li>
                            <li class="tag"># Monte Carlo</li>
                            <li class="tag"># Python</li>
                        </ul>
                        <h4>BOOKS</h4>
                        <p>I like to read books. I prefer to read mysterious, science fiction genres . My favorite book series is <b>How to train your dragon.</b></p>
                    </div>
                    <div class="btn">
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div> -->

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="{% static 'images/analytics.png' %}" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># Statistics</li>
                            <li class="tag"># Monte Carlo</li>
                            <li class="tag"># Python</li>
                            <li class="tag"># LatEx</li>
                        </ul>
                        <h4>Monte Carlo Simulation</h4>
                        <p>Demonstrating how to estimate outcome of a uncertain event in long run with Monte Carlo Simulation. Latex is used to format maths equations.</p>
                    </div>
                    <div class="btn"> 
                        <button class="sbutton"><a href="{% url 'daproject2' %}" style="text-decoration: none; color: #036366;">Check It Out</a></button>
                    </div> 
                    <div class="ribbon-b"></div>                        
                </div>

            </div>
        </div> 

{% endblock content %}        
