{% extends 'main.html'%}
{% block content%}

        <!--Heading Part-->
        <div  class="head">
            <div class="col-1">
                <h1><b>Hi There,<b></h1><br>
                <h2 id="text" style="margin: 0px;"></h2><br>
                <p>who loves ambitious challenges and open for fresh ideas.<br>
                Currently pursuing BSc Computer Science  and BSc Data Science degrees.</p>
                <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button> 
            </div>
            <div class="col-2" style="margin-bottom:10px;">
                <img  class="pic" src="images/pic.png" alt="pic">
            </div>  
        </div>

        <hr>

        <!--About Me Part-->
        <h3 >About Me</h3>
        <div id="about" class="about">
            <h2 style="color: #66BFBF;">"The Only Limit to Our Imagination is Time."</h2>
            <p style="color: green;">#Student  #Coder  #Future-Data-Scientist</p>
            <p> My name is Ayush Kumar. I'm a final year student of BSc 
                Computer Science of Maharshi Dayanand University. <br>
                And I'm also pursuing BSc in Programming and Data Science 
                from IIT Madras. 
                <br><br>I love to solve challenging problems and discover a
                solution for it. Whether it's about writing a line of code or 
                to give some visualization.<br>As long as there's a problem to  
                tackle or a challenge to puzzle over. It's a bound to  
                something which I bound to love!
            </p>
        </div>

        <hr>

        <!--Skills Part-->
        <h3 >Skills</h3>
        <div id="skills" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/web.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <h4>Web Development</h4>
                        <p>I'm beginner. I can make good websites with HTML, CSS & JavaScript.</p>
                    </div>
                    <div class="ribbon-b" style="margin-top: auto;"></div>     
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/py.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <h4>Python</h4>
                        <p>I'm beginner python programmer. I can write optimize code. For more info check my HackerRank profile.</p>
                    </div>
                    <div class="ribbon-b" style="margin-top: auto;"></div>     
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/analytics.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <h4 >Data Analyst</h4>
                        <p>I'm trying to acquire Bachelor degree in Data Science. At this stage I'm capable of doing descriptive analysis on data.</p>
                    </div>  
                    <div class="ribbon-b" style="margin-top: auto;"></div>    
                </div>

            </div>    
        </div>

        <hr>

        <!--Hobbies Part-->
        <h3 >Hobbies</h3>
        <div id="hobbies" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/anime.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <h4>ANIME</h4>
                        <p>I'm  big fond of anime. I like to watch them in free time. I love <b>Steins Gate</b> anime.</p>
                    </div> 
                    <div class="ribbon-b" style="margin-top: auto;"></div>   
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/book.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <h4>BOOKS</h4>
                        <p>I like to read books. I prefer to read mysterious, science fiction genres . My favorite book series is <b>How to train your dragon.</b></p>
                    </div> 
                    <div class="ribbon-b" style="margin-top: auto;"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/game.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <h4>GAMES</h4>
                        <p>I use to play both online and offline pc games. I prefer play action, adventure and shooting genres. My favorite game is <b>Tomb Raider.</b></p>
                    </div> 
                    <div class="ribbon-b" style="margin-top: auto;"></div>                        
                </div>

            </div>
        </div> 

{% endblock content %}