{% extends 'main.html'%}
{% block content%}

        <!--Web Dev Part-->
        <h3 >Web Development</h3>
        <div id="skills" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/web.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag">buisness</li>
                            <li class="tag">travel</li>
                            <li class="tag">technology</li>
                        </ul>
                        <h4>Web Development</h4>
                        <p>I'm beginner. I can make good websites with HTML, CSS & JavaScript.</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div>
                    <div class="ribbon-b"></div>     
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/py.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag">buisness</li>
                            <li class="tag">travel</li>
                            <li class="tag">technology</li>
                        </ul>
                        <h4>Python</h4>
                        <p>I'm beginner python programmer. I can write optimize code. For more info check my HackerRank profile.</p>
                    </div> 
                    <div class="btn">
                        <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/analytics.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag">buisness</li>
                            <li class="tag">travel</li>
                            <li class="tag">technology</li>
                        </ul>
                        <h4 >Data Analyst</h4>
                        <p>I'm trying to acquire Bachelor degree in Data Science. At this stage I'm capable of doing descriptive analysis on data.</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div> 
                    <div class="ribbon-b"></div>     
                </div>

            </div>    
        </div>

        <hr style="display:none;">

        <!--Programming Part-->
        <h3 >Programming</h3>
        <div id="hobbies" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/P1.png" class="pro-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># python</li>
                            <li class="tag"># pyttsx3</li>
                            <li class="tag"># difflib</li>
                        </ul>
                        <h4>Speaking Dictonary</h4>
                        <p>Ability to search meaning of words.</p>
                        <p>Speaks meaning of words loudly.</p>
                        <p>Supports feature of recommended words.</p>
                    </div>
                    <div class="btn">
                        <button class="sbutton"><a href="https://github.com/aayush138/SpeakingDictonary" style="text-decoration: none; color: #036366;">Check It Out</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/P2.png" class="pro-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># python</li>
                            <li class="tag"># folium</li>
                            <li class="tag"># pandas</li>
                        </ul>
                        <h4>Web Map</h4>
                        <p>Loads Live map of world from Internet.</p>
                        <p>Filled each continent with color according to its population.</p>
                        <p>Color Marked every Volcanoes of world in map according to their heights from sea level.</p>
                        <p>Color Code:- Low: Green, Medium: Yellow/Orange, High:Red</p>
                    </div>
                    <div class="btn">
                        <button class="sbutton"><a href="https://github.com/aayush138/PythonMap" style="text-decoration: none; color: #036366;">Check It Out</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/P3.png" class="pro-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag"># python</li>
                            <li class="tag"># pandas</li>
                            <li class="tag"># yaml</li>
                        </ul>
                        <h4>Yaml_to_Excel</h4>
                        <p>Yaml: Human Readable Data</p> 
                        <p>IPL:Indian Premiere League</p>
                        <p>Extracts useful data of IPL into Excel file with showing step by step processing of data.</p>
                    </div>
                    <div class="btn">
                        <button class="sbutton"><a href="https://github.com/aayush138/YamltoExcel" style="text-decoration: none; color: #036366;">Check It Out</a></button>
                    </div> 
                    <div class="ribbon-b"></div>                        
                </div>

            </div>
        </div>  

        <hr>

        <!--Data Analysis Part-->
        <h3 >Data Analysis</h3>
        <div id="about" class="middle" style="margin-bottom: 20px;">
            <div class="row">
                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/anime.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag">buisness</li>
                            <li class="tag">travel</li>
                            <li class="tag">technology</li>
                        </ul>
                        <h4>ANIME</h4>
                        <p>I'm  big fond of anime. I like to watch them in free time. I love <b>Steins Gate</b> anime.</p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/book.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag">buisness</li>
                            <li class="tag">travel</li>
                            <li class="tag">technology</li>
                        </ul>
                        <h4>BOOKS</h4>
                        <p>I like to read books. I prefer to read mysterious, science fiction genres . My favorite book series is <b>How to train your dragon.</b></p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div> 
                    <div class="ribbon-b"></div>    
                </div>

                <div class="card">
                    <div class="ribbon-t"></div>
                    <img src="images/game.png" class="all-img" style="margin-top: 1rem;">
                    <div class="card_text">
                        <ul class="tags">
                            <li class="tag">buisness</li>
                            <li class="tag">travel</li>
                            <li class="tag">technology</li>
                        </ul>
                        <h4>GAMES</h4>
                        <p>I use to play both online and offline pc games. I prefer play action, adventure and shooting genres. My favorite game is <b>Tomb Raider.</b></p>
                    </div>
                    <div class="btn">
                        <button class="fbutton" ><a href="doc\Resume.pdf" style="text-decoration: none; color: white;">Resume</a></button> 
                        <button class="sbutton"><a href="project.html" style="text-decoration: none; color: #036366;">Projects</a></button>
                    </div> 
                    <div class="ribbon-b"></div>                        
                </div>

            </div>
        </div> 

{% endblock content %}        